.section-events {
    display: block;
    max-width: 350px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-events .info-box {
    margin-bottom: 30px;
}

@media only screen and (min-width: 576px) {
    .section-events .info-box {
        margin: inherit;
    } 

    .section-events {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1024px;
    }
}

@media only screen and (min-width: 768px) {
    .section-events {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .section-events {
        gap: 30px;
        padding: 0;
    }
}