.last-year {
    width: 100%;
    background: #efefef;
    padding: 70px 0;
    overflow: hidden;

    &-inner {
        width: 1280px;
        margin: 0 auto;

        h2 {
            text-align: center;
            margin: 0 0 70px;
            font-size: 30px;
        }
    
        p {
            width: 50%;
            float: left;
            padding-right: 150px;
            padding-top: 100px;
            font-weight: 700;
            line-height: 25px;
            
        }
    }

    &-img {
        width: 50%;
        height: 350px;
        float: left;
    
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
