.search-container {
    width: 100%;

    input {
        width: 400px;
        display: block;
        margin: 0 auto 50px;
        line-height: 50px;
        border: 1px solid #cecece;
        border-radius: 6px;
        padding: 0 0 0 15px;
        font-size: 20px;

        &:focus {
            outline: none;
            border: 1px solid #c59613;
        }
    }
}